.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 85px;
    background-color:white ;
   padding-top: 20px;
   z-index: 120;
}
.sidebar-link{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(234, 234, 234);
}
.sidebar-link img {
    height: 30px;
}
.sidebar-link div {
font-family: roboto, arial;
font-size: 11px;
margin-bottom: 10px;



}
